
@tailwind base;
@tailwind components;
@tailwind utilities;  

@font-face {
  font-family: SomicBold;
  src: url("../public/fonts/NTSomic-Bold.ttf");
}

@font-face {
  font-family: WixExtra;
  src: url('/public/fonts/WixExtraBold.ttf');
}

* {
  scrollbar-color: yellow;
  font-family: SomicBold;
  background-color: #fff;
  color: black;
}

h1 {
  font-family: SomicBold;
}



/* body {
  font-size: 200px;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;

} */